@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

* {
margin: 0;
padding: 0;
list-style: none;
text-decoration: none;
border: none;
outline: none;
background: transparent;
vertical-align: baseline;
box-sizing: border-box;
}

html,body{
    background-color: black;
}

header {
    font-size: 96px;
    font-style: normal;
    font-weight: 400;
    line-height: 128px;
    letter-spacing: 0em;
    text-align: left;
}

body {
    font-family: 'Playfair Display', serif;
    color: #B5E7CC; 
}

main {
    padding: 100px; 
}

#btnGroup {
    display: flex;
    flex-direction: row-reverse; 
    margin: 20px; 
    align-items: space-between;
    
}

.btn {
    font-family: 'Roboto', sans-serif;
    background-color: black; 
    border: 1px solid;
    border-color: #B5E7CC; 
    color: #B5E7CC; 
    width: 140px;
    height: 60px;
    font-size: 24px;
}

#showResult{
    font-size: 200px; 
    display: grid;
    grid-template-columns: repeat(5, 150px);
    justify-content: end;
    column-gap: 2px;
    text-align: center;
    width: 100%;
}

/* .little {
    font-size: 100px;
    align-self: end; 
    justify-self: center; 
}
 */
